{# Variables to pass: navbar_tuples, active_index #}
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Downfiring</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-container" aria-controls="navbar-container" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbar-container">
    <ul class="navbar-nav mr-auto">
      {% if navbar_tuples %}
        {% for nav_name, nav_link in navbar_tuples %}
          {% if forloop.counter0 == active_index %}
            <li class="nav-item active">
              <a class="nav-link" href="{{ nav_link }}">{{ nav_name }}</a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{{ nav_link }}">{{ nav_name }}</a>
            </li>
          {% endif %}
        {% endfor %}
      {% endif %}
      
      <!--
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
        <div class="dropdown-menu" aria-labelledby="dropdown04">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      -->
    </ul>
    <form class="form-inline my-2 my-md-0">
      <input class="form-control" type="text" placeholder="Search">
    </form>
  </div>
</nav>